.semlinks-plugin-related-posts-container {
    display: flex;
    flex-direction: column;
}

.semlinks-plugin-related-posts-container h3 {
    flex-grow: 1;
}

.semlinks-plugin-related-posts-container ul {
    padding: 0;
    margin: 0;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.semlinks-plugin-related-posts-container ul > a {
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25ch;
    width: calc(33.33333% - .83333em);
}

.semlinks-plugin-related-posts-container ul > a > li {
    list-style: none;
    margin: 0 1.25em 1.25em 0;
    clear: both;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.semlinks-plugin-related-posts-container ul > a > li > p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.semlinks-plugin-related-post-image {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

.semlinks-plugin-related-post-content {
    display: inline-block;
}

